{lib_dirs,[".."]}.
{deps, [
    {kvs,      ".*", {git, "git://github.com/synrc/kvs",          {tag, "master"} }},
    {n2o,      ".*", {git, "git://github.com/5HT/n2o",            {tag, "master"} }},
    {gen_smtp, ".*", {git, "git://github.com/Vagabond/gen_smtp",  {tag, "master"} }},
    {ux,       ".*", {git, "git://github.com/erlang-one/ux",      {tag, "master"} }}
]}.
